<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.sprat.org/ecosystem/Ecosystem" 
       class = "org.sprat.ecosystem.ecosystem.EcosystemPackage"
       genModel = "model/generated/Ecosystem.genmodel" /> 
	
  </extension>



</plugin>
